body {
  margin: 0;
  padding: 0;
}

.column {
  transition: all 0.5s ease-in-out;
  height: 90px;
  border-radius: 20px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
}

.is-vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  color: #fff;

}