html,body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif !important;

}


.full-height {
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  /* border: 1px solid red; */

}

.is-relative {
  position: relative;
}

.swatch {
  text-align: center;
  max-width: 225px;
  transition: all 0.5s ease;
  height: 300px;
  border-radius: 20px;
  outline: none;
  position: relative;
  bottom: -70px;
  cursor: pointer;

  color:rgba(255, 255, 255, 0.85);
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 50px;
  font-size: 20px;

}

.constrain-960 {
  max-width: 960px;
  margin: 0 auto;
}

@media screen and (max-width:800px){
  .swatch {
    font-size: 14px;
    border-radius: 10px;
    height: 100px;
    bottom: 0;
  }
}



.do-button {

}

.is-vertical-center {
  justify-content: center;
  align-items: center;
}