html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  border:1px solid red;
  position: relative;
  overflow: hidden;
  
}


.full-height {
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;

}

.is-relative {
  position: relative;
}
.swatch {
  text-align: center;
  max-width: 225px;
  transition: all 0.5s ease;
  height: 200px;
  border-radius: 20px;
  outline: none;
  position: relative;
  bottom: 0px;

  color:rgba(255, 255, 255, 0.90);
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 50px;

}