body
  font-family: $rubik
  font-weight: 400
  display: flex
  min-height: 100vh
  flex-direction: column

main
  flex: 1

select
  font-family: $rubik
  appearance: none
  background-color: #fff
  box-shadow: 0 3px 30px #bababa
  border: 0
  border-radius: 0
  font-size: 40px
  font-weight: 500
  padding: 5px 8px
  cursor: pointer
  margin-bottom: 10px
  border-radius: 8px
  width: 180px
  overflow: hidden