select {
    appearance: none;
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 500;
    background-color: white;
    padding: 9px;
    cursor: pointer;
    overflow: hidden;
    width: 180px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: all 0.2s ease;

    &:hover {
        box-shadow: 0 10px 30px rgba(83, 83, 83, 0.25);
    }
}

a {
    @apply text-black;
    transition: all 0.2s ease;
}
