body
  font-family: $rubik
  font-weight: 400
  display: flex
  min-height: 100vh
  flex-direction: column

main
  flex: 1

select
  font-family: $rubik
  appearance: none
  background-color: #fff
  border: 0
  border-radius: 0
  font-size: 50px
  font-weight: 500
  padding: 0 0 0 20px
  width: 60%
  cursor: pointer
  