.palette {
    text-align: center;
    font-size: 25px;

    .count {
        text-align: center;
        font-size: 89px;
        background: linear-gradient(-45deg, #ef83ff 0%, #34c6ff 50%, #27ff7d 100%);
        background-size: 400% 400%;
        background-clip: text;
        color: transparent;
        animation: Gradient 12s ease infinite;
        @keyframes Gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    }
}
