.image {
	width: 350px;
	height: auto;
}

.by {
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: 100;
	border-top-left-radius: 5px;
	padding: 6px;
	border-top: 1px solid #efefef;
	border-left: 1px solid #efefef;
	background: #fff;
	color: #6f6f6f;
	text-decoration: none;
}

img {
	border-radius: 100%;
	width: 23px;
	height: 26px;
	vertical-align: middle;
}
