.site--logo
  height: 60px
  padding: 10px


.site--content
  margin: 0 auto
  max-width: 600px
  font-weight: 500



.action--ctn
  font-size: 45px
  font-weight: 500
  padding-top: 30px
  color: #b7b7b7


.action--text
  font-size: 45px
  font-weight: 500
  color: #000


.palette
  text-align: center
  font-size: 25px
  padding-top: 50px
  .count
    text-align: center
    font-size: 89px
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  .copy
    text-transform: uppercase 
    font-size: 15px
    font-weight: bold