// -------------------------
// Variables
// -------------------------
$swatch-height: calc(100vh / 7.4);
$history-swatch-block-height: 150px;
$copy-icon-url: url("../static/icon__copy.svg");

// -------------------------
// Mixins
// -------------------------
@mixin hover-icon {
  content: "";
  background-image: $copy-icon-url;
  @apply bg-contain bg-no-repeat left-5 top-5 absolute h-5 w-5;
}

// -------------------------
// Styles
// -------------------------
.swatch,
.history-swatch-block {
  @apply uppercase cursor-pointer text-white rounded-lg rounded-br-none flex items-center justify-center transition-all duration-200 ease-in-out;

  &:hover {
    &:after {
      @include hover-icon;
    }
  }
}

.swatch {
  height: $swatch-height;
  @apply text-center text-5xl relative left-0 mx-4 my-5 font-bold transition-all duration-300 ease-in-out hover:left-5;
}

.history-swatch-block {
  height: $history-swatch-block-height;
  animation: slide-up 0.7s cubic-bezier(0.17, 4, 0.58, 0.7);
  transition: all 0.4s cubic-bezier(0.2, 0.8, 0.2, 1.2) 0s;
  @apply mb-10 text-2xl w-44;

  &:hover {
    @apply transform -translate-y-4;
  }
}

.action-button {
  @apply text-center hover:shadow-md rounded-lg border border-gray-300 cursor-pointer whitespace-nowrap font-medium text-xl  py-4 px-10 text-black h-16 transition-all duration-200 ease-in-out;
}

@media screen and (max-width: 768px) {
  .swatch {
    height: calc(100vh / 8);
    line-height: calc(100vh / 8);

    &:hover {
      @apply right-0;
    }
  }

  .history-swatch-block {
    height: $history-swatch-block-height;
    line-height: $history-swatch-block-height;
    @apply text-2xl;

    &:hover {
      @apply transform-none;
    }
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
