// -> Helpers
// =========================
.cursor\.pointer {
  cursor: pointer;
}

.fill\.danger{
  fill: hsl(348, 100%, 61%);
}

.lock\.desktop {
  margin: 0 auto;
  max-width: 1344px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.pb1 {
  padding-bottom: 30px;
}

.pt1 {
  padding-top: 30px;
}

.background-red {
  background-color: red;
}