// ---
// SWATCHES
// -------------------------
.swatch {
  text-align: center;
  max-width: 225px;
  transition: all 0.5s ease;
  height: 300px;
  border-radius: 20px;
  outline: none;
  position: relative;
  bottom: -70px;
  cursor: pointer;

  color:rgba(255, 255, 255, 0.85);
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 50px;
  font-size: 20px;

  &:hover {
    bottom: -25px;
  }
  
}


@media screen and (max-width:768px){
  .swatch {
    font-size: 25px;
    border-radius: 10px;
    height:100px;
    padding: 0;
    bottom: 0;
    margin: 0 auto;
    line-height: 100px;
    white-space: nowrap;
  }
}


.action-box {
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(192, 192, 192, 0.555);
  min-width: 200px;
  display: inline-block;
  padding: 20px;
}

.il {
  background-image: url('/static/undraw_outer_space_3v6n.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: center;

}

.download-button {
  cursor: pointer;
}