// -> Helpers
// =========================
.cursor\.pointer {
  cursor: pointer;
}

.fill\.danger{
  fill: hsl(348, 100%, 61%);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.pb1 {
  padding-bottom: 30px;
}

.pt1 {
  padding-top: 30px;
}

.background-red {
  background-color: red;
}

.navv {
  padding-top: 20px;
  border-bottom: 1px solid #333;

  .column {
    border:1px solid red;
  }
}

.select {

}