@font-face {
  font-family: 'uni_sansheavy_caps';
  src: url('/static/fonts/uni_sans_heavy-webfont.woff2') format('woff2'),
       url('/static/fonts/uni_sans_heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}