// ---
// HELPERS
// -------------------------
.is-ninesixty {
  max-width: 960px;
  margin: 0 auto;
}

.is-vertical-center {
  justify-content: center;
  align-items: center;
}



// ---
// SWATCHES
// -------------------------
.swatch {
  text-align: center;
  max-width: 225px;
  transition: all 0.5s ease;
  height: 300px;
  border-radius: 20px;
  outline: none;
  position: relative;
  bottom: -70px;
  cursor: pointer;

  color:rgba(255, 255, 255, 0.85);
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 50px;
  font-size: 20px;

  
}

.swatch:hover {
  bottom: -25px;
}

@media screen and (max-width:768px){
  .swatch {
    font-size: 18px;
    border-radius: 10px;
    height:50px;
    bottom: 0;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 20px;
  }
}




