// ---
// HELPERS
// -------------------------
.is-ninesixty {
  max-width: 960px;
  margin: 0 auto;
}

.is-vert-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pr1 {
  padding-right: 10px;
}